/*
Theme Name:     RF Sensor Dev
Description:    A project headed by Karl Hornung.  Esmervin Aburto lead developer on this project.
Author:         David Menache
Template:       doap

(optional values you can add: Theme URI, Author URI, Version)
*/

@import url("../the-doap-child-theme/style.css");
