/*
Theme Name:     A&P Winter Theme v2
Description:    Air and plumbing winter theme
Author:         David Menache
Template:       andrina-lite

(optional values you can add: Theme URI, Author URI, Version)
*/

@import url("../a-p-winter-theme/style.css");
