/*
Theme Name:     BurkeAgroResponsive
Description:    Burke Agro Responsive Theme
Author:         Shawn Crowe
Template:       responsivepro

(optional values you can add: Theme URI, Author URI, Version)
*/

@import url("../responsivepro/style.css");
