/*
Theme Name:     A & P Winter Theme
Description:    This is the Air and Plumbing winter theme.
Author:         David Menache
Template:       andrina-lite

(optional values you can add: Theme URI, Author URI, Version)
*/

@import url("../andrina-lite/style.css");
